/********** Template CSS **********/

:root {
    --primary: #1c60b8 ;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #0a0003;
}


/*** Spinner ***/
.spinner {
    width: 150px;
    height: 150px;
    background: #00000000;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateY(0deg) rotateX(0deg);
        -webkit-transform: perspective(120px) rotateY(0deg) rotateX(0deg)
    }
    50% {
        transform: perspective(120px) rotateY(-180.1deg) rotateX(0deg);
        -webkit-transform: perspective(120px) rotateY(-180.1deg) rotateX(0deg)
    }
    100% {
        transform: perspective(120px) rotateY(-180deg) rotateX(-179.9deg);
        -webkit-transform: perspective(120px) rotateY(-180deg) rotateX(-179.9deg);
    }
}

#myCarousel {
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
  }
  .carousel-item {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1.3s;
    opacity: 0;
  }
  .carousel-item.active {
    opacity: 1;
    display: block;
  }

  #myCarousel:hover .arrows {
    opacity: 1;
  }
  .carousel-caption {
    position: absolute;
    top: 25%;
    right: 50px;
    color: #000;
    text-align: right;
    padding: 20px;
    transition: transform 0.5s ease;
  }
  .carousel-caption-left {
    position: absolute;
    top: 25%;
    left: 100px;
    color: #000;
    text-align: left;
    padding: 20px;
    transition: transform 0.5s ease;
  }
  @media (min-width:991px) {
    .carousel-caption {
      right: 100px;
    }
  }
  
.carousel-item.active .carousel-caption {
    transform: translate(0, 0%);
  }
  
  .carousel-caption h2,
  .carousel-caption p {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }

 
  .carousel-item.active .carousel-caption p {
    color: #ffffff; 
    font-size: 18.5px;
    text-shadow:
            0px 0px 2px #000000,
            -2px -2px 2px #000000,
            2px -2px 2px #000000,
            -2px 2px 2px #000000,
            2px 2px 2px #000000;
    }
  .carousel-item.active .carousel-caption h2,
  .carousel-item.active .carousel-caption p {
    animation-delay: 0.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media (max-width:760px){
    .carousel-caption{
        left: 0;
    }
  }
.carousel-img{
    width: 100%;
    height: 100%;
}  

.c-2-btn{
    background-color: #ffffff9b;
    border: 1px solid #002f5e;
    border-radius: .3rem;
    color: rgb(15, 15, 15);
    transition: .5s;
}

.c-2-btn:hover{
    background-color: #002f5e;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: .5s;
}
.c-h2{
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    color: #000000;
    font-style: inherit;
}

@media (max-width: 767.98px) {
    .c-h2 {
        font-size: 40px;
       
    }
    .carousel-caption{
        width: 100%;
    }
    .navbar{
        padding: 0px;
        padding: 0px;
    }
    .c-2-btn{
        margin-top: 15px
    }
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  background-color: #00000000;
  color: #000000;
  cursor: pointer;
  transition:.5s;
  opacity: 0;
}
#prevBtn:hover,
#nextBtn:hover {
  color: #002f5e;
  transition:.5s;
}
#prevBtn {
  left: 20px;
}
#nextBtn {
  right: 20px;
}
.bi-caret-left, .bi-caret-right{
    font-size: 70px;
    
}

#social {
    height: 35px;
    width: 35px;
    margin: 0px;
    padding: 0px;
}

  



@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

@media (max-width:991px){
    .navbar-collapse{
        z-index: 99;
        background-color: white;
        padding: 20px;
    }

}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main > div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1628944682084-831f35256163?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1515309025403-4b0184873cef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1545671913-b89ac1b4ac10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1598977123118-4e30ba3c4f5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1570481662006-a3a1374699e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}
input[type="text"]:valid {
    border-color:#0f0;
}
.validated input:invalid {
    border-color:#f00;
}

/*** Button ***/
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}
.btn-primary{
    border-color: #6c6c6c7f;
    color: #fff;
}
.btn-primary:hover {
    color: #002f5e;
    background-color: #fff;
    border-radius: 0.5rem;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(53, 164, 220, 0.25) inset !important;
}

.index-services:hover .servies-imgs{
    background-color: #ff79791b;
    transition: .5s;
}
.servies-imgs{
    background-color: #1c60b8;
    transition: .5s;
}

.btn-outline-light:hover{
    color: #002f5e;
    background-color: #fff;
    border-radius: 0.5rem;
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    
}
.social-link{
    
    padding-bottom: 20px;
    margin: 20px 30px;
}


/*** Navbar ***/
.navbar-dark{
    height: 90px;
}
.nav-logo{
    height: 80px;
}
@media (max-width: 991.98px) {
    .nav-logo{
        height: 60px;
    }
}
.navbar-dark .navbar-nav .nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}



/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}

@media (max-width:991px){
  .navbar-collapse{
      z-index: 99;
      background-color: white;
      padding: 20px;
  }
  .nav-logo{
    height: 50px;
}

}


/*** Service ***/
.service-item {
    position: relative;
    height: 100%;
    padding: 30px 40px;
    transition: .5s;
    background-color: #fff7f9 ;
    
}

.vendor-carousel img{
    height: 150px;
    width: 100%;
}
.index-proccess{
    transition: .5s;
    padding-bottom: 25px;
    padding-top: 25px;
}

.index-proccess h4{
    transition: .5s;
    color: var(--primary);
}

.index-proccess:hover{
    background-color: var(--primary);
    transition: .5s;
    color: white;
}

.index-proccess:hover h4{
    transition: .5s;
    color: white;
}


.service-item:hover {
    background-color: var(--primary);
    color: #FFFFFF;
    box-shadow: 0 0 30px #191919;
    transition: .5s;
}
.price-div{
    transition: .5s;
    box-shadow: 0 0 30px #6161616a;
    border-radius: .5rem;
    height: 850px;
}
.center-price{
    background-color: #002f5e; z-index: 1; box-shadow: #002f5e;
}

.center-price:hover{
    background-color: #0057c5;
}

.price-div:hover{
    transition: .5s;

}

.service-item:hover h4{
    color: #FFFFFF;
    transition: .5s;
    
}

.service-item:hover p{
    color: #FFFFFF;
    transition: .5s;
    
}

.service-item h4{
    color:  var(--primary);
    transition: .5s;
}

.service-item p{
    color:  #d1cbcd;
    transition: .5s;
}

.service-item:hover #service-img{
    opacity: 0;
    transition: 1s;
}

#service-img{
    transition: 1s;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social h5 {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 34, 62, 0.7);
}     

.team-item:hover .team-social h5 {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}
     

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.back-to-top {
    position: fixed;
    display: none;
    left: 45px;
    bottom: 45px;
    z-index: 99;
}

.bi-whatsapp{
    color: #ffffff;
    font-size: 1.5rem;
    transition: .5s;
    border-radius: .5rem;
}
.whatsapp-link:hover {
    background-color: #fff;
    transition: .5s;
}
.whatsapp-link:hover .bi-whatsapp{
    color: #0b7b29;
    transition: .5s;
    
}
.whatsapp-link {
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    border-radius: .5rem;
    width: 45px;
    height: 45px;
    background-color: #0b7b29;
    transition: .5s;
    
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}
#chat-box{position:fixed;z-index: 1; right:-500px;bottom:60px;width:320px;height:200px;transition:all .5s; margin-bottom: 40px;margin-right: -70px;}
@media (max-width: 767.98px) {
    #chat-box {
        margin-right: 0px;
       
    }
}

#chat-top{width:100%;z-index: 100; line-height:2;background-color:#075e54;color:white;text-align:center;border-radius:5px 5px 0 0;padding:0 10px;padding-top:5px;}
#chat-msg{ background:#ece5dd;
    position: relative;
    padding:20px;border-radius:0 0 5px 5px;box-shadow:0 0 25px -10px #999;}
#chat-msg .c-msg{font-size:14px;padding:5px;background:white;border-radius:0 50px 50px 50px;margin-bottom:10px;}
#chat-form{display:flex;}
.chat-in{width:80%;}
#chat-form input{border-radius:5px 0 5px 5px;width:100%;border:none;outline:none;font-size:14px;padding:5px;line-height:2;}
#send-btn{width:20%;padding: 0 5px;}
#send-btn:hover{
    cursor: pointer;
}
#chat-top-right{float:right;padding:5px 0;}

.right{float:right}
.clear{clear:both}

 

#alert {
    position: absolute;
    background-color: #ff0400e3;
    width: 280px;
    color: white;
    display: none;
    font-size:14px;
    padding:10px;
    border-radius:0 50px 50px 50px;
    margin-bottom:10px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  


  #why-choose-us {
    background-color: #f8f8f8;
    padding: 80px 0;
  }
  
  #why-choose-us h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    animation-name: fade-in;
    animation-duration: 1s;
  }
  
  .icon-box {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    animation-name: slide-up;
    animation-duration: 1s;
  }
  
  .icon-box i {
    font-size: 48px;
    color: #1c60b8;
    margin-bottom: 20px;
  }

  .icon-box:hover img{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .icon-box h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .icon-box p {
    font-size: 18px;
    line-height: 28px;
    color: #777777;
  }
  
  .icon-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-box:hover:before {
    left: 0;
  }
  
  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes slide-up {
    from {transform: translateY(50px);}
    to {transform: translateY(0);}
  }
  
  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  



  .slider-text {
    font-size: 50px;
  animation: scrollText 10s infinite linear;
  opacity: 0.5;
  stroke: #bec1ce;
  }

      @keyframes scrollTextStart {
      from { transform: translateX(0%); }
      to { transform: translateX(-180%); }
      }
      @keyframes scrollTextEnd {
      from { transform: translateX(180%); }
      to { transform: translateX(0); }
      }
  .slider-text:nth-child(1) {
  animation: scrollTextStart 20s infinite linear;
  }
  .slider-text:nth-child(2) {
      animation: scrollTextEnd 20s infinite linear;
  }

  .carousel-caption.overlay {
    background-color: rgba(0, 0, 0, 0.765); /* Black with 50% opacity */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    color: #ffffff; /* Text color */
}

.carousel-caption.overlay h2,
.carousel-caption.overlay p {
    color: #ffffff; /* Text color for headings, paragraphs, and buttons */
}

#myCarousel {
  position: relative;
}

.carousel-item {
  display: none;
  position: relative;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}


.carousel-caption h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 1rem;
  line-height: 1.5;
}

.carousel-caption .btn {
  margin-top: 15px;
}

.carousel-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}





.price-plan-wrapper {
  padding: 0 0 60px 0;
}

.pricing-table-1 {
  border: 3px solid #e5e3e3;
  border-radius: 10px;
  text-align: center;
  padding: 38px 0 40px;
  transition: 0.3s ease-in;
  margin-bottom: 30px;
  height: 700px;
}
.pricing-table-1 .price-header .title {
  color: #282828;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}
.pricing-table-1 .price-header .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 20px;
}
.pricing-table-1 .price-header .price {
  font-size: 50px;
  line-height: 60px;
  color: #282828;
  font-weight: 600;
  margin-bottom: 25px;
}
.pricing-table-1 .price-header .price .dollar {
  font-size: 33px;
  line-height: 33px;
  position: relative;
  top: -12px;
}
.pricing-table-1 .price-header .price .month {
  font-size: 22px;
  line-height: 23px;
}
.pricing-table-1 .price-footer {
  margin-top: 40px;
}
.pricing-table-1 .price-footer .order-btn {
  display: inline-block;
  width: 165px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #197beb;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: .5rem;
  color: #282828;
  transition: 0.3s ease-in;
  font-weight: 600;
}
.pricing-table-1 .price-footer .order-btn i {
  font-size: 13px;
  padding-left: 2px;
}
.pricing-table-1:hover .price-footer .order-btn{
  border-color: #F7F9F8;
  color: #F7F9F8;
}
.pricing-table-1 .price-footer .order-btn:hover {
  background-color: #00000061;
  color: #fff;
  border-color: #ffffff;
}
.pricing-table-1 .price-body ul {
  margin: 0;
  padding: 0;
}
.pricing-table-1 .price-body ul li {
  list-style: none;
  display: block;
  color: #000;
  margin: 27px 0;
}
.pricing-table-1 .price-body ul li:first-child {
  margin-top: 0;
}
.pricing-table-1 .price-body ul li:last-child {
  margin-bottom: 0;
}

.price-plan-wrapper .one, .three{
  background-color: #84b9ff3b;
}
.pricing-table-1:hover {
  border-color: #197beb;
  background-color: #197beb;
}
.price-plan-wrapper .two {
  height: 715px;
  background-color: #197beb;
  color: #F7F9F8;
}
.two .price-header .title{
  color: #F7F9F8;
}
.two .price-header .price{
  color: #F7F9F8;
}
.two .price-body ul li{
  color: #F7F9F8;
}
.two .price-footer .order-btn{
  border-color: #F7F9F8;
  color: #F7F9F8;
}
.pricing-table-1:hover .price-header .title{
  color: #F7F9F8;
}
.pricing-table-1:hover .price-header .price{
  color: #F7F9F8;
}
.pricing-table-1:hover .price-body ul li{
  color: #F7F9F8;
}

  h3 {
    color: #147ae3;
  }
/* Whatsapp start */



/* CSS Multiple Whatsapp Chat */
#whatsapp-chat {
  box-sizing: border-box !important;
  outline: none !important;
  position: fixed;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  bottom: 110px;
  right: 30px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 1s;
  transform: scale(1);
}

a.blantershow-chat {
  /*   background: #009688; */
  background: #fff;
  color: #404040;
  position: fixed;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  z-index: 98;
  bottom: 55px;
  right: 30px;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

a.blantershow-chat svg {
  transform: scale(1.2);
  margin: 0 10px 0 0;
}

.whatsapp-chat-header {
  background: #009688;
  background: #095e54;
  color: #fff;
  padding: 20px;
}
.whatsapp-chat-header h3 {
  margin: 0 0 10px;
}
.whatsapp-chat-header p {
  font-size: 14px;
  line-height: 1.7;
  margin: -10px;
}
.whatsapp-chat-header .whatsapp-chat-name {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.5;
}

.whatsapp-chat-avatar {
  position: relative;
}
.whatsapp-chat-avatar::after {
  content: "";
  bottom: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  background-color: #4ad504;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid #095e54;
  left: 40px;
  top: 38px;
}
.whatsapp-chat-avatar img {
  border-radius: 100%;
  width: 50px;
  float: left;
  margin: 0 10px 0 0;
}

.info-chat span {
  display: block;
}

#get-label,
span.chat-label {
  font-size: 12px;
  color: #888;
}

#get-nama,
span.chat-nama {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}

#get-label,
#get-nama {
  color: #fff;
}

span.my-number {
  display: none;
}

/* .blanter-msg {
  color: #444;
  padding: 20px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
} */
textarea#chat-input {
  border: none;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 50px;
  outline: none;
  resize: none;
  padding: 10px;
  font-size: 14px;
}

a#send-it {
  width: 30px;
  font-weight: 700;
  padding: 10px 10px 0;
  background: #eee;
  border-radius: 10px;
}
a#send-it svg {
  fill: #a6a6a6;
  height: 24px;
  width: 24px;
}

.first-msg {
  background: transparent;
  padding: 30px;
  text-align: center;
}
.first-msg span {
  background: #e2e2e2;
  color: #333;
  font-size: 14.2px;
  line-height: 1.7;
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
}

.start-chat .blanter-msg {
  display: flex;
}

#get-number {
  display: none;
}

a.close-chat {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 30px;
}

@keyframes ZpjSY {
  0% {
    background-color: #b6b5ba;
  }
  15% {
    background-color: #111111;
  }
  25% {
    background-color: #b6b5ba;
  }
}
@keyframes hPhMsj {
  15% {
    background-color: #b6b5ba;
  }
  25% {
    background-color: #111111;
  }
  35% {
    background-color: #b6b5ba;
  }
}
@keyframes iUMejp {
  25% {
    background-color: #b6b5ba;
  }
  35% {
    background-color: #111111;
  }
  45% {
    background-color: #b6b5ba;
  }
}
@keyframes showhide {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  #whatsapp-chat {
    width: auto;
    left: 5%;
    right: 5%;
    font-size: 80%;
  }
}
.hide {
  display: none;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.show {
  display: block;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
  
}

.whatsapp-message-container {
  display: flex;
  z-index: 1;
}

.whatsapp-message {
  padding: 7px 14px 6px;
  background-color: white;
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
  padding: 20px 20px 20px 10px;
  background-color: #e6ddd4;
  position: relative;
}
.whatsapp-chat-body::before {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.08;
  background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
}

.dAbFpq {
  display: flex;
  z-index: 1;
}

.eJJEeC {
  background-color: white;
  width: 52.5px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.1s ease 0s;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
  position: relative;
  display: flex;
}

.ixsrax {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
  background-color: #9e9da2;
  animation-name: ZpjSY;
}

.dRvxoz {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  background-color: #b6b5ba;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
  animation-name: hPhMsj;
}

.kAZgZq {
  padding: 7px 14px 6px;
  background-color: white;
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
}
.kAZgZq::before {
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  top: 0px;
  left: -12px;
  width: 12px;
  height: 19px;
}

.bMIBDo {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: #111111;
}

.iSpIQi {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: #111111;
}

.cqCDVm {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.5);
  margin-right: -8px;
  margin-bottom: -4px;
}


.footer-widget p {
    margin-bottom: 27px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

  .dk-footer-box-info {
    width: 450px;
  }

  
@media(max-width:741px){
  .carousel-caption {
    left: 0;
  }
  .carousel-img{
    width: 100%;
    height: 830px;
  }
  .dk-footer-box-info {
    display: none;
  }
  .copyright-menu li{
    padding: 2px;
  }
  .copyright-menu ul{
    padding-left: 0px;
    text-align: left;
  }
}

@media(max-width:989px){
.dk-footer-box-info {
  display: none;
}}